In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
d = pd.read_csv('neo.csv')
d.head()

,id,name,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,orbiting_body,sentry_object,absolute_magnitude,hazardous
0,2162635,162635 (2000 SS164),1.198271,2.679415,13569.249224,5.483974e+07,Earth,False,16.73,False
1,2277475,277475 (2005 WK4),0.265800,0.594347,73588.726663,6.143813e+07,Earth,False,20.00,True
2,2512244,512244 (2015 YE18),0.722030,1.614507,114258.692129,4.979872e+07,Earth,False,17.83,False
3,3596030,(2012 BV13),0.096506,0.215794,24764.303138,2.543497e+07,Earth,False,22.20,False
4,3667127,(2014 GE35),0.255009,0.570217,42737.733765,4.627557e+07,Earth,False,20.09,True

In [3]:
d.columns

Index(['id', 'name', 'est_diameter_min', 'est_diameter_max',
       'relative_velocity', 'miss_distance', 'orbiting_body', 'sentry_object',
       'absolute_magnitude', 'hazardous'],
      dtype='object')

In [4]:
d.shape

(90836, 10)

In [5]:
d.dtypes

id                      int64
name                   object
est_diameter_min      float64
est_diameter_max      float64
relative_velocity     float64
miss_distance         float64
orbiting_body          object
sentry_object            bool
absolute_magnitude    float64
hazardous                bool
dtype: object

In [6]:
d.describe()

,id,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude
count,9.083600e+04,90836.000000,90836.000000,90836.000000,9.083600e+04,90836.000000
mean,1.438288e+07,0.127432,0.284947,48066.918918,3.706655e+07,23.527103
std,2.087202e+07,0.298511,0.667491,25293.296961,2.235204e+07,2.894086
min,2.000433e+06,0.000609,0.001362,203.346433,6.745533e+03,9.230000
25%,3.448110e+06,0.019256,0.043057,28619.020645,1.721082e+07,21.340000
50%,3.748362e+06,0.048368,0.108153,44190.117890,3.784658e+07,23.700000
75%,3.884023e+06,0.143402,0.320656,62923.604633,5.654900e+07,25.700000
max,5.427591e+07,37.892650,84.730541,236990.128088,7.479865e+07,33.200000

In [7]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90836 entries, 0 to 90835
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  90836 non-null  int64
 1   name                90836 non-null  object
 2   est_diameter_min    90836 non-null  float64
 3   est_diameter_max    90836 non-null  float64
 4   relative_velocity   90836 non-null  float64
 5   miss_distance       90836 non-null  float64
 6   orbiting_body       90836 non-null  object
 7   sentry_object       90836 non-null  bool
 8   absolute_magnitude  90836 non-null  float64
 9   hazardous           90836 non-null  bool
dtypes: bool(2), float64(5), int64(1), object(2)
memory usage: 5.7+ MB

In [8]:
d.orbiting_body.unique()

array(['Earth'], dtype=object)

In [9]:
d = d.drop(['id', 'name', 'orbiting_body'], axis='columns')

In [10]:
d.head()

,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,sentry_object,absolute_magnitude,hazardous
0,1.198271,2.679415,13569.249224,5.483974e+07,False,16.73,False
1,0.265800,0.594347,73588.726663,6.143813e+07,False,20.00,True
2,0.722030,1.614507,114258.692129,4.979872e+07,False,17.83,False
3,0.096506,0.215794,24764.303138,2.543497e+07,False,22.20,False
4,0.255009,0.570217,42737.733765,4.627557e+07,False,20.09,True

In [11]:
x = d.drop('hazardous', axis=1)
y = d.hazardous

In [12]:
x.head()

,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,sentry_object,absolute_magnitude
0,1.198271,2.679415,13569.249224,5.483974e+07,False,16.73
1,0.265800,0.594347,73588.726663,6.143813e+07,False,20.00
2,0.722030,1.614507,114258.692129,4.979872e+07,False,17.83
3,0.096506,0.215794,24764.303138,2.543497e+07,False,22.20
4,0.255009,0.570217,42737.733765,4.627557e+07,False,20.09

In [13]:
y.head()

0    False
1     True
2    False
3    False
4     True
Name: hazardous, dtype: bool

In [14]:
x.sentry_object.unique()

array([False])

In [15]:
x = x.drop('sentry_object', axis=1)
x.head()

,est_diameter_min,est_diameter_max,relative_velocity,miss_distance,absolute_magnitude
0,1.198271,2.679415,13569.249224,5.483974e+07,16.73
1,0.265800,0.594347,73588.726663,6.143813e+07,20.00
2,0.722030,1.614507,114258.692129,4.979872e+07,17.83
3,0.096506,0.215794,24764.303138,2.543497e+07,22.20
4,0.255009,0.570217,42737.733765,4.627557e+07,20.09

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.23, random_state=25)

In [17]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
a = x_test[29]

In [19]:
x_train.shape

(69943, 5)

In [20]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=10)
knn.fit(x_train, y_train)
ypk = knn.predict(x_test)
knn.score(x_test, y_test)

0.9105920643277653

In [21]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)
ypn = nb.predict(x_test)
nb.score(x_test, y_test)

0.8530608337720768

In [22]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=90, random_state=10)
rf.fit(x_train, y_train)
ypr = rf.predict(x_test)
rf.score(x_test, y_test)

0.9211219068587565

In [23]:
from sklearn.ensemble import AdaBoostClassifier
ab = AdaBoostClassifier(n_estimators=200, random_state=10)
ab.fit(x_train, y_train)
ypa = ab.predict(x_test)
ab.score(x_test, y_test)

0.9146604125783755

In [24]:
from xgboost import XGBClassifier
xgb = XGBClassifier(n_estimators=800, learning_rate=0.1)
xgb.fit(x_train, y_train)
ypx = xgb.predict(x_test)
xgb.score(x_test, y_test)

0.921648398985306

In [25]:
from sklearn.metrics import accuracy_score, precision_score, f1_score
acs = []
ps = []
f1s = []

for i in (ypk, ypn, ypr, ypa, ypx):
  acs.append(accuracy_score(y_test, i))
  ps.append(precision_score(y_test, i))
  f1s.append(f1_score(y_test, i))

In [26]:
res = pd.DataFrame({'AccuracyScore':acs, 'PrecisionScore':ps, 'F1 Score':f1s}, index=['KNN','GuassianNaiveBayes', 'RandomForest', 'AdaBoost', 'XGBoost'])
res

                    AccuracyScore  PrecisionScore  F1 Score
KNN                      0.910592        0.567073  0.284839
GuassianNaiveBayes       0.853061        0.277733  0.311968
RandomForest             0.921122        0.614074  0.501512
AdaBoost                 0.914660        0.697941  0.254910
XGBoost                  0.921648        0.679820  0.424200

In [27]:
import pickle as pk
pk.dump(rf, open('model.pkl', 'wb'))

In [28]:
m = pk.load(open('model.pkl', 'rb'))
m.predict([a])[0]

False